{% extends 'base.html.twig' %}

{% block title %}Edit CharacterResource{% endblock %}

{% block body %}
    <h1>Edit CharacterResource</h1>

    {{ include('character_resource/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_character_resource_index') }}">back to list</a>

    {{ include('character_resource/_delete_form.html.twig') }}
{% endblock %}
