{% extends 'base.html.twig' %}

{% block title %}Hello JouerController!{% endblock %}

{% block body %}
<h1>Mon jeu !!!</h1>
<main class="game">
    <canvas width="800px" height="800px"></canvas>
</main>
{% endblock %}
